

/* -- Navbar ------------------*/

.navbar {
    background-color: #A3F2A8;
}

.navbar-brand {
    font-size: 30px;
}


/* -- Footer ------------------*/

.footer {
    background-color: #A3F2A8;
}


#map {
    min-height: 360px;
}